
/* Reset CSS
 * --------------------------------------- */

@font-face {
    font-family: "Alisa";
    src: url("Fonts/Alisa.otf") format("opentype");
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
    font-family: "Alisa";
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);

	/* max width */
	
	width: 100%;
	
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 3em;
}
.intro p{
	
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left: 47%;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Custom CSS
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }

 #section1 .intro{
			opacity: 0;
			position:relative;
			
		}
		#section1 .intro img{
			height: 60vh;
		}
		#section1 .secondary{
			opacity: 0;
			position:relative;
		}
		.officeExpansion{
			position: absolute;
    		margin-left: 45px;
    		font-size: 1.50em;
    		margin-top: 30vh;
    		opacity: 0;
    		text-align: left;
		}

		.section1bgImage{
			background: rgba(255,255,255,1);
			background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,240,250,1) 53%, rgba(218,240,250,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(53%, rgba(218,240,250,1)), color-stop(100%, rgba(218,240,250,1)));
			background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,240,250,1) 53%, rgba(218,240,250,1) 100%);
			background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,240,250,1) 53%, rgba(218,240,250,1) 100%);
			background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,240,250,1) 53%, rgba(218,240,250,1) 100%);
			background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(218,240,250,1) 53%, rgba(218,240,250,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#daf0fa', GradientType=1 );
			background-size: cover;
			opacity: .2;

		}

		.section1ImageFade{
			background: rgba(255,255,255,1);
			background: url("images/blueprint2.png") center center no-repeat, -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,240,250,1) 53%, rgba(218,240,250,1) 100%);
			background: url("images/blueprint2.png") center center no-repeat, -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(53%, rgba(218,240,250,1)), color-stop(100%, rgba(218,240,250,1)));
			background: url("images/blueprint2.png") center center no-repeat, -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,240,250,1) 53%, rgba(218,240,250,1) 100%);
			background: url("images/blueprint2.png") center center no-repeat, -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,240,250,1) 53%, rgba(218,240,250,1) 100%);
			background: url("images/blueprint2.png") center center no-repeat, -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,240,250,1) 53%, rgba(218,240,250,1) 100%);
			background: url("images/blueprint2.png") center center no-repeat, linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(218,240,250,1) 53%, rgba(218,240,250,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#daf0fa', GradientType=1 );
			background-size: cover;
			opacity: 1;
			transition: opacity 3s ease-in;
		}
		
		#section1 p{
			display:none;
		}
		
		.allAddedUp{
			position: absolute;
			width: 50%;
			margin-left: 25%;
			margin-top: -15%;
			opacity: 0;
		}
	
		.yearSlide{
			
			position:relative;
			margin-top: 0;
		}
		.yearSlide img.img2k17{
			opacity: 0;
		}
		.yearSlide .allAddedUp{
			opacity: 0;
		}

#section0{
	background-image: url("images/BGTexture1.png");
	background-size: cover;

}
.toplogo{
	background: #FFF;
	
	width:80px;
	height: 90px;
}
.toplogo img{
	width: 48px;
    margin: 0 auto;
    display: block;
    padding: 30px 0 20px 0;
}

#section1 .intro{
	width: 50%;
	float: left;
	display: inline-block;
}

#section1 .secondary{
	width: 50%;
	float: left;
	
}

#section2 .intro{
	width: 40%;
	float: right;
	display: inline-block;
	opacity: 0;
	position: absolute;
	top: 22%;
	right: 2%;
}



#section2 .secondary{
	width: 50%;
    float: left;
    height: 100vh;
    margin-left: 10%;
}
	

.faded { display: none; }
.piggy{

}
.section3bgImage{
			
			background-size: cover;
			opacity: .2;

		}

		.section3ImageFade{
			background: #6DB3F2 url('images/map.png') center center;
			background-size: cover;
			opacity: .7;
			transition: opacity 3s ease-in;
		}
		.section3ImageFade2{
			background: #6DB3F2 url('images/map-markers.png') center center;
			opacity: 1;
			background-size: cover;
			transition: all 3s ease-in; 
			
		}

#section3 .intro{
	opacity: 0;
	width: 33%;
	float: left;
	top: 10vh;
	position: relative;
}


#section3 .intro img{
	height: 25vh;
}


.section4bgImage{
 	background: url('images/spotlight.png') center center;
 	background: cover;
 	opacity: 0;

}


.certificate img{
	width: 56px;
}
#section4 .intro{
	height: 25em;
    width: 25em;
    margin: 0 auto;
    padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	
	border-radius: 50%;
	margin: 1.75em auto 0;
    top: 5vh;
    position:relative;

}

.fullpage-wrapper{
	padding: 20px;
}

.topHeader{
	position: fixed;
    top: 0;
    background: #FFF;
    height: 20px;
    z-index: 69;
    width: 100%;
}
.bottom{
	position: fixed;
    bottom: 0;
    background: #FFF;
    height: 20px;
    z-index: 69;
    width: 100%;
}

.certificate{
	display: none;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	margin: -2em; /* 2em = 4em/2 */ /* half the width */
	
}

#section4 .secondary{
 position: absolute;
 width: 18em;
 margin-left: 4em;
 margin-top: 3.5em;
 opacity: 0;
}

#section4 .secondary img{
 width: 100%;
}
#section4 .secondary p{
	position: absolute;
    top: 8em;
    margin-left: 1em;
}

.deg0 { transform: translate(16em); } /* 12em = half the width of the wrapper */
.deg22 { transform: rotate(32deg) translate(15em) rotate(-32deg); }
.deg45 { transform: rotate(64deg) translate(15em) rotate(-64deg); }
.deg67 { transform: rotate(96deg) translate(15em) rotate(-96deg); }
.deg91 { transform: rotate(128deg) translate(15em) rotate(-128deg); }
.deg114 { transform: rotate(160deg) translate(15em) rotate(-160deg); }
.deg135 { transform: rotate(192deg) translate(15em) rotate(-192deg); }
/*.deg180 { transform: translate(-14em); }*/
.deg180 { transform: rotate(222deg) translate(15em) rotate(-222deg); }
.deg225 { transform: rotate(254deg) translate(15em) rotate(-254deg); }
.deg315 { transform: rotate(286deg) translate(15em) rotate(-286deg); }
.deg347 { transform: rotate(325deg) translate(15em) rotate(-325deg); }


.section5bgImage{
			
			background-size: cover;
			opacity: .5;

		}

		.section5ImageFade{
			
			background: #DCD9D7 url("images/travel-texture.png") center center no-repeat;
			background-size: cover;
			opacity: 1;
			transition: opacity 3s ease-in;
		}


#section5 .secondary{
	width: 98%;
	opacity: 0;

}

#section5 .secondary img{
	width: 100%;

}

#section5 .intro img{
	width: 50%;
}



#section5 .intro p.visited{
	opacity: 0;
	text-align: left;
    font-size: 2em;
    position: absolute;
    left: 44%;
    bottom: 12vh;
}

.nineteen{
	position: absolute;
    left: 0;
    top: 20vh;
    opacity: 0;
}

.thirty{
	position: absolute;
    left: 10%;
    top: 50vh;
    opacity: 0;
}

#section6{
	background: #E1C797 url("images/coffee-texture.png") center center no-repeat;
}


#section6 .clearfix:after {content:''; display:table; clear:both;}
#section6 ul, li {list-style:none; margin:0; padding:0;}
#section6 .popContainer { width: 430px; margin-left: 100px; }
#section6 .popContainer li { float:left; margin: 3px;} 
#section6 li span {display:block; transition:all .5s ease;}
#section6 .secondary{
	position: absolute;
}

#section6 .intro{
	position: absolute;
	top: 18vh;
	right: 0;
	opacity: 0;
}

#section6 .intro img{
	width: 50%;

}
#section6 .secondary{
	position: absolute;
    bottom: 8vh;
    left: 22%;
    opacity: 0;
}
#section6 .secondary img{
	width: 46%;
}

.popContainer li img{
	width: 43px;
}
#section7{
	/* background: url("images/social-bg.png"); */
	background-size: cover;
}

#section7 .intro{
	background-color: #013A6B;
  background: url("images/social-texture.png") center center no-repeat, -webkit-linear-gradient(11deg, #F38A00 50%, #009DD0 50%); 
  min-height: 100vh;
}


#section7 .line{
	opacity: 0;
}
.line img{
	height: 100vh;
}
#section7 .ig{
	position: absolute;
	bottom: 28%;
	left: 17%;
}

.img438{
	position: absolute;
	left: 8%;
    top: 24%;
}
.instagramPanel, .twitterPanel{opacity: 0;}

#section7 .twitter{
	position: absolute;
	top: 15%;
	right: 17%;
}

.img847{
	position: absolute;
	right: 8%;
    bottom: 32%;
}

.family{
	width: 45%;
	margin-left: 10%;
	margin-top: 15%;
	opacity: 0;
}
.family img{
	width: 100%;
}

#section8 .secondary{
	position: absolute;
	right: 8%;
    top: 20%;
    opacity: 0;

}
#section8 .intro .cloud{
	opacity: 0;
	    position: absolute;
    top: 12%;
    left: 8%;
    width: 221px;

}
.programmer{
	width: 30%;
	opacity: 0;
    margin-left: 55%;
    bottom: 16px;
    position: absolute;
}



		.section9ImageFade{
			background: #FBE9AA url('images/code-bg.jpg') center center;
			background-size: cover;
			
			transition: background 3s ease-in;
		}

.litmus, .code, .slack{
	position: absolute;
	opacity: 0;
}
.litmus{
	
	top: 20%;
	margin-left: 20%;
}

.code{
	top: 50%;
	margin-left:10%;
	

}
.slack{
	top: 18%;
	margin-left: 60%;
}

.section10{
	background-size: cover;
	opacity: 0;
}

.section10ImageFade{
			background: #EBE6E6 url('images/shoe-bg.png') center center;
			background-size: cover;
			opacity: 1;
			transition: all .5s ease;
		}

.earth{

	position: absolute;
	top: 29%;
	left:10%;
	width:38%;
}
.earth img{
	width: 80%;
}
.earth, .steps-cloud, #section10 .intro{
	opacity: 0;
}
.steps-cloud{
	position: absolute;
	top: 24%;
    left: 7%;
}
.steps-cloud img{
	width: 179px;
}
#section10 .intro{
	    margin-top: -15%;
    float: right;
    padding-right: 5%;
}

.computer{
	position: absolute;
    bottom: 15px;
    right: 20px;
}
.mail img{
	position: absolute;
	display: none;
}
.mail1{
	bottom: 40%;
    right: 36%;
    z-index: 100;
    
}
.mail2{
	    bottom: 45%;
    right: 49%;
    z-index: 99;
   
}

.mail3{
	    bottom: 69%;
    right: 61%;
    z-index: 98;
   
}

#section11 .secondary{
	position: absolute;
	    position: absolute;
    bottom: 17%;
    left: 10%;
    opacity: 0;
}
#section11 .secondary img{
	width: 513px;

}
.section12{
	opacity: .4;
}
.section12imageFade{
	opacity: 1;

			background: #00384F url('images/stars.png') center center;
			background-size: cover;
			opacity: 1;
			transition: opacity 3s ease-in;
		
}

.big-earth{
	
	width:100%;
	position: absolute;
	bottom: -600px;
	
}
.big-earth img{
	width: 100%;
}
#section12 .numero{
	margin-top: -200px;
	opacity: 0;
}
.email-cloud{
	position: absolute;
	right: 1%;
	bottom: 33%;
	opacity: 0;
}
.email-cloud img{
	width: 265px;
}
.mobile-version{
	display: none;
}
.section-container{
	max-width: 1200px;
	margin: 0 auto;
}

.mobileFooter{display: none;}
@media screen and (max-width: 1024px) {

	#section1 .intro{
		width: 37%;

	}
	#section1 .secondary{
		margin-left: 13%;
	}
	#section2 .secondary{
		margin-left: 0;
	}
	#section6 .secondary{
		left: 30%;
	}
	#section6 .intro{
		right: -58px;
		top: 22vh;
	}
	.earth{
		top: 45%;
	}
	.steps-cloud{
		top: 37%;
	}

	.mail1{
		right: 43%;
	}
	.mail2{
		right: 60%;
	}
	.mail3{
		right: 76%;
	}
	.computer{
		right: 0;
	}
	#section11 .secondary{
		left: 2%;
	}
	.email-cloud{
		bottom: 27%;
	}

	.section-container{
		width: 100%;
	}


}

@media screen and (max-width: 768px) {


	#menu{
		left: 44%;
	}
	#fullpage{
		display: none;
	}
	.mobile-version{
		display: block;
	}
	.mobile-version img{
		width: 100%;
	}
	.mobileFooter{display: block;}
}

@media screen and (max-width: 768px) {


	#menu{
		left: 44%;
	}
	#fullpage{
		display: none;
	}
	.mobile-version{
		display: block;
	}
	.mobile-version img{
		width: 100%;
	}
}

@media screen and (max-width: 480px) {


	#menu{
		left: 18%;
	}
}
